[submodule "src/rabbitmq-broker/tools/leiningen"]
	path = src/rabbitmq-broker/tools/leiningen
	url = git@github.com:michaelklishin/standalone-lein.git
[submodule "src/route-registrar/src/github.com/cloudfoundry-incubator/route-registrar"]
	path = src/route-registrar/src/github.com/cloudfoundry-incubator/route-registrar
	url = git@github.com:cloudfoundry-incubator/route-registrar.git
[submodule "src/rabbitmq-cluster-migration-tool"]
	path = src/rabbitmq-cluster-migration-tool
	url = git@github.com:pivotal-cf/rabbitmq-cluster-migration-tool.git
[submodule "src/rabbitmq-upgrade-preparation"]
	path = src/rabbitmq-upgrade-preparation
	url = git@github.com:pivotal-cf/rabbitmq-upgrade-preparation.git
[submodule "src/cf-rabbitmq-smoke-tests"]
	path = src/cf-rabbitmq-smoke-tests
	url = git@github.com:pivotal-cf/cf-rabbitmq-smoke-tests.git
[submodule "system_test/test_app"]
	path = system_test/test_app
	url = git://github.com/pivotal-cf/rabbit-labrat.git
[submodule "system_test/rabbit-example-app"]
	path = system_test/rabbit-example-app
	url = git@github.com:pivotal-cf/rabbit-example-app.git
