---
name: cf-rabbitmq
director_uuid: <%= `bosh status --uuid`.strip %>

releases:
- name: cf-rabbitmq
  version: latest
- name: cf-rabbitmq-test
  version: latest
- name: routing
  version: 0.136.0

stemcells:
- alias: trusty
  name: bosh-google-kvm-ubuntu-trusty-go_agent
  version: latest

instance_groups:
- name: rmq
  instances: 2
  jobs:
  - name: rabbitmq-server
    release: cf-rabbitmq
  - name: rabbitmq-statsdb-reset-cron-test
    release: cf-rabbitmq-test
  - name: syslog-configuration-test
    release: cf-rabbitmq-test
    properties:
      syslog-configuration-test:
        watched-log-files:
        - "/var/vcap/sys/log/rabbitmq-server/rabbit@*.log"
        - "/var/vcap/sys/log/rabbitmq-server/rabbit@*-sasl.log"
        - "/var/vcap/sys/log/rabbitmq-server/startup_stderr.log"
        - "/var/vcap/sys/log/rabbitmq-server/startup_stdout.log"
        - "/var/vcap/sys/log/rabbitmq-server/shutdown_stdout.log"
        - "/var/vcap/sys/log/rabbitmq-server/shutdown_stderr.log"
        - "/var/vcap/sys/log/rabbitmq-server/management-ui/access.log*"
        - "/var/vcap/sys/log/rabbitmq-server/upgrade.log"
        - "/var/vcap/sys/log/rabbitmq-server/init.log"
        - "/var/vcap/sys/log/rabbitmq-server/node-check.log"
        - "/var/vcap/sys/log/rabbitmq-server/cluster-check.log"
        - "/var/vcap/sys/log/rabbitmq-server/pre-start.log"
  - name: permissions-test
    release: cf-rabbitmq-test
    properties:
      permissions-test:
        directories:
        - "/var/vcap/jobs/rabbitmq-server"
        - "/var/vcap/store/rabbitmq"
        - "/var/vcap/sys/log"
  vm_type: large
  stemcell: trusty
  persistent_disk_type: '102400'
  azs:
  - europe-west1-b
  - europe-west1-c
  networks:
  - name: zumba-service-network
- name: rmq-broker
  instances: 1
  jobs:
  - name: rabbitmq-broker
    release: cf-rabbitmq
  - name: route_registrar
    release: routing
    properties:
      nats:
        machines:
        - 10.0.4.8
        port: 4222
        user: nats
        password: nats
      route_registrar:
        routes:
        - name: pivotal-rabbitmq-broker
          port: 4567
          registration_interval: 20s
          uris:
          - pivotal-rabbitmq-broker.sys.zumba.gcp.london.cf-app.com
  - name: syslog-configuration-test
    release: cf-rabbitmq-test
    properties:
      syslog-configuration-test:
        watched-log-files:
        - "/var/vcap/sys/log/rabbitmq-broker/startup_stdout.log"
        - "/var/vcap/sys/log/rabbitmq-broker/startup_stderr.log"
        - "/var/vcap/sys/log/route_registrar/route_registrar.log"
        - "/var/vcap/sys/log/route_registrar/route_registrar.err.log"
  - name: permissions-test
    release: cf-rabbitmq-test
    properties:
      permissions-test:
        directories:
        - "/var/vcap/jobs/rabbitmq-broker"
        - "/var/vcap/sys/log"
  vm_type: medium
  stemcell: trusty
  azs:
  - europe-west1-b
  networks:
  - name: zumba-service-network
- name: haproxy
  instances: 1
  jobs:
  - name: rabbitmq-haproxy
    release: cf-rabbitmq
  - name: route_registrar
    release: routing
    properties:
      nats:
        machines:
        - 10.0.4.8
        port: 4222
        user: nats
        password: nats
      route_registrar:
        routes:
        - name: pivotal-rabbitmq
          port: 15672
          registration_interval: 20s
          uris:
          - pivotal-rabbitmq.sys.zumba.gcp.london.cf-app.com
  - name: syslog-configuration-test
    release: cf-rabbitmq-test
    properties:
      syslog-configuration-test:
        watched-log-files:
        - "/var/vcap/sys/log/rabbitmq-haproxy/haproxy.log"
        - "/var/vcap/sys/log/route_registrar/route_registrar.err.log"
        - "/var/vcap/sys/log/route_registrar/route_registrar.log"
  - name: permissions-test
    release: cf-rabbitmq-test
    properties:
      permissions-test:
        directories:
        - "/var/vcap/jobs/rabbitmq-haproxy"
        - "/var/vcap/sys/log"
  vm_type: medium
  stemcell: trusty
  azs:
  - europe-west1-b
  - europe-west1-c
  networks:
  - name: zumba-service-network
- name: broker-registrar
  jobs:
  - name: broker-registrar
    release: cf-rabbitmq
  instances: 1
  lifecycle: errand
  vm_type: micro
  stemcell: trusty
  azs:
  - europe-west1-b
  networks:
  - name: zumba-service-network
- name: broker-deregistrar
  jobs:
  - name: broker-deregistrar
    release: cf-rabbitmq
  instances: 1
  lifecycle: errand
  vm_type: t2.micro
  stemcell: trusty
  azs:
  - europe-west1-b
  networks:
  - name: zumba-service-network
- name: smoke-tests
  jobs:
  - name: smoke-tests
    release: cf-rabbitmq
  instances: 1
  lifecycle: errand
  vm_type: m3.medium
  stemcell: trusty
  azs:
  - europe-west1-b
  networks:
  - name: zumba-service-network

properties:
  # for broker and route registrars
  cf:
    admin_username: "admin"
    admin_password: "admin"
    api_url: "http://api.sys.zumba.gcp.london.cf-app.com"
    domain: "sys.zumba.gcp.london.cf-app.com"
  rabbitmq-server:
    restart_statsdb_cron_schedule: "42 */4 * * *"
    plugins:
    - rabbitmq_management
    - rabbitmq_mqtt
    - rabbitmq_stomp
    ports:
    - 5672
    - 5671
    - 1883
    - 8883
    - 61613
    - 61614
    - 15672
    - 15674
    administrators:
      management:
        username: admin
        password: admin
      broker:
        username: broker
        password: CkY26kTuAyZT8r2
    cookie: "rabbit-cluster:gcp"
    cluster_partition_handling: autoheal

  rabbitmq-haproxy:
    stats:
      username: admin
      password: admin
  broker:
    host: pivotal-rabbitmq-broker.sys.zumba.gcp.london.cf-app.com
    protocol: https
    name: p-rabbitmq
    username: "p1-rabbit"
    password: "p1-rabbit-devpwd"
  rabbitmq-broker:
    route: pivotal-rabbitmq-broker
    cc_endpoint: http://api.sys.zumba.gcp.london.cf-app.com
    service:
      username: "p1-rabbit"
      password: "p1-rabbit-devpwd"
      name: p-rabbitmq
      uuid: 163b47c6-a2f3-43b1-97f7-b83b37ecabcd
      plan_uuid: 4e816145-4e71-4e24-a402-0c686b868e2d
    logging:
      level: debug
      print_stack_traces: false
    rabbitmq:
      operator_set_policy:
        enabled: true
        policy_name: "operator_set_policy"
        policy_definition: "{\"ha-mode\":\"exactly\",\"ha-params\":2,\"ha-sync-mode\":\"automatic\"}"
        policy_priority: 50
      management_domain: pivotal-rabbitmq.sys.zumba.gcp.london.cf-app.com

      ssl: |
        -----BEGIN CERTIFICATE-----
        MIIC+zCCAeOgAwIBAgIBAjANBgkqhkiG9w0BAQUFADAnMRUwEwYDVQQDEwxNeVRl
        c3RSb290Q0ExDjAMBgNVBAcTBTY0MTAzMB4XDTE0MDkwNDA3MjIwOFoXDTI0MDkw
        MTA3MjIwOFowKjEXMBUGA1UEAxMObWVyY3VyaW8ubG9jYWwxDzANBgNVBAoTBnNl
        cnZlcjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANxxSzf958VIm8lp
        qQ4BHSmz1z8yU/KEKSbuEfIqpGwpVx6TZ+ZYiXa0cMV2pE7UKR4OyJiuvtvv9kzu
        6g+HTXmJo2cqVonGCAMp6d9TkCAMaMF76IrbLyGmvXQDcjOmWarvsGHW/w6gJpw9
        svDP9EXyXTBUfaJq3T8+9UQBfMsL4dHwAt79YgvSQLsYiIi2rzQixK/4PHFeHf3G
        I/UDgjG0YG9iCWp2g1Sc3Z6hYB/0pOCBxE7LCrSGS6/M/7c2569yK7NqSSNN7Lqz
        ZoQSF1NYE6KRd2MK2A0QaKrn9v8K5/Lp0fk70bvwtLxTWtp3wq3bYQg8UdqY/6R8
        UATS/aMCAwEAAaMvMC0wCQYDVR0TBAIwADALBgNVHQ8EBAMCBSAwEwYDVR0lBAww
        CgYIKwYBBQUHAwEwDQYJKoZIhvcNAQEFBQADggEBAHC89mK1HJgDqwxjsGpa3V7t
        Nuqe/XxEIUUN3Lm4gBLKq4wed4c6z4csv16f3uL9cypyHPSrQmMPV7CDgWLX4F7g
        YN9PGaVfIp/rGNsDWJEVNU2rfIEDIUfcL+o844jE8CtmzZ4bGVrCHqKW5pAraai1
        o5h3JaU4yDLo49rqPeRft2n/gj+5E3gi/1TsnuLuzB7kK1gaTTOrV3GASiGokCEN
        4v1ZjaqMSGMcwA/esaLv2N6UYJgd5lyJ7PEL4ddE8QCTo2EPhYyltLxRqOjrxa+5
        KONA94PDj14gOSSsoXkoj7gWQsuHT2RXmurYXk4/PkS+k1j0+ZCzKi/ZxF5jt50=
        -----END CERTIFICATE-----
      administrator:
        username: broker
        password: CkY26kTuAyZT8r2

update:
  canaries: 1
  canary_watch_time: 30000-180000
  update_watch_time: 30000-180000
  max_in_flight: 4
  serial: false
