---
name: cf-rabbitmq
director_uuid: <%= `bosh status --uuid`.strip %>

releases:
- name: cf-rabbitmq
  version: latest
- name: cf-rabbitmq-test
  version: latest
- name: routing
  version: 0.136.0
- name: syslog
  version: 7

stemcells:
- alias: trusty
  os: ubuntu-trusty
  version: latest

instance_groups:
- name: rmq
  instances: 2
  jobs:
  - name: rabbitmq-server
    release: cf-rabbitmq
  - name: syslog_forwarder
    release: syslog
    properties:
      syslog:
        address: &syslog-address syslog-aggregator.example.com
        port: &syslog-port 514
        custom_rule: |
          module(load="imfile")

          input(type="imfile"
                File="/var/vcap/sys/log/rabbitmq-server/rabbit@*.log"
                Tag="rmq_server")

          input(type="imfile"
                File="/var/vcap/sys/log/rabbitmq-server/rabbit@*-sasl.log"
                Tag="rmq_server_sasl")

          input(type="imfile"
                File="/var/vcap/sys/log/rabbitmq-server/startup_stderr.log"
                Tag="rmq_server_startup_stderr")

          input(type="imfile"
                File="/var/vcap/sys/log/rabbitmq-server/startup_stdout.log"
                Tag="rmq_server_startup_stdout")

          input(type="imfile"
                File="/var/vcap/sys/log/rabbitmq-server/shutdown_stdout.log"
                Tag="rmq_server_shutdown_stdout")

          input(type="imfile"
                File="/var/vcap/sys/log/rabbitmq-server/shutdown_stderr.log"
                Tag="rmq_server_shutdown_stderr")

          input(type="imfile"
                File="/var/vcap/sys/log/rabbitmq-server/management-ui/access.log*"
                Tag="rmq_server_http_api_access")

          input(type="imfile"
                File="/var/vcap/sys/log/rabbitmq-server/upgrade.log"
                Tag="rmq_server_upgrade")

          input(type="imfile"
                File="/var/vcap/sys/log/rabbitmq-server/init.log"
                Tag="rmq_server_init")

          input(type="imfile"
                File="/var/vcap/sys/log/rabbitmq-server/node-check.log"
                Tag="rmq_server_node_check")

          input(type="imfile"
                File="/var/vcap/sys/log/rabbitmq-server/cluster-check.log"
                Tag="rmq_server_cluster_check")

          input(type="imfile"
                File="/var/vcap/sys/log/rabbitmq-server/pre-start.log"
                Tag="rmq_server_pre_start")
  - name: syslog-configuration-test
    release: cf-rabbitmq-test
    properties:
      syslog-configuration-test:
        watched-log-files:
        - "/var/vcap/sys/log/rabbitmq-server/rabbit@*.log"
        - "/var/vcap/sys/log/rabbitmq-server/rabbit@*-sasl.log"
        - "/var/vcap/sys/log/rabbitmq-server/startup_stderr.log"
        - "/var/vcap/sys/log/rabbitmq-server/startup_stdout.log"
        - "/var/vcap/sys/log/rabbitmq-server/shutdown_stdout.log"
        - "/var/vcap/sys/log/rabbitmq-server/shutdown_stderr.log"
        - "/var/vcap/sys/log/rabbitmq-server/management-ui/access.log*"
        - "/var/vcap/sys/log/rabbitmq-server/upgrade.log"
        - "/var/vcap/sys/log/rabbitmq-server/init.log"
        - "/var/vcap/sys/log/rabbitmq-server/node-check.log"
        - "/var/vcap/sys/log/rabbitmq-server/cluster-check.log"
        - "/var/vcap/sys/log/rabbitmq-server/pre-start.log"
  - name: permissions-test
    release: cf-rabbitmq-test
    properties:
      permissions-test:
        directories:
        - "/var/vcap/jobs/rabbitmq-server"
        - "/var/vcap/store/rabbitmq"
        - "/var/vcap/sys/log"
        - "/var/vcap/data/tmp"

  vm_type: r3.large
  stemcell: trusty
  persistent_disk_type: 10GB
  azs:
  - eu-west-1a
  - eu-west-1b
  networks:
  - name: services

- name: rmq-broker
  instances: 1
  jobs:
  - name: rabbitmq-broker
    release: cf-rabbitmq
  - name: route_registrar
    release: routing
    properties:
      nats:
        machines:
        - 10.244.0.6
        port: 4222
        user: nats
        password: nats
      route_registrar:
        routes:
        - name: pivotal-rabbitmq-broker
          port: 4567
          registration_interval: 20s
          uris:
          - pivotal-rabbitmq-broker.bosh-lite.com
  - name: syslog_forwarder
    release: syslog
    properties:
      syslog:
        address: *syslog-address
        port: *syslog-port
        custom_rule: |
          module(load="imfile")

          input(type="imfile"
                File="/var/vcap/sys/log/rabbitmq-broker/startup_stdout.log"
                Tag="rmq_broker_startup_stdout")

          input(type="imfile"
                File="/var/vcap/sys/log/rabbitmq-broker/startup_stderr.log"
                Tag="rmq_broker_startup_stderr")

          input(type="imfile"
                File="/var/vcap/sys/log/route_registrar/route_registrar.log"
                Tag="rmq_broker_route_registrar_stdout")

          input(type="imfile"
                File="/var/vcap/sys/log/route_registrar/route_registrar.err.log"
                Tag="rmq_broker_route_registrar_stderr")
  - name: syslog-configuration-test
    release: cf-rabbitmq-test
    properties:
      syslog-configuration-test:
        watched-log-files:
        - "/var/vcap/sys/log/rabbitmq-broker/startup_stdout.log"
        - "/var/vcap/sys/log/rabbitmq-broker/startup_stderr.log"
        - "/var/vcap/sys/log/route_registrar/route_registrar.log"
        - "/var/vcap/sys/log/route_registrar/route_registrar.err.log"
  - name: permissions-test
    release: cf-rabbitmq-test
    properties:
      permissions-test:
        directories:
        - "/var/vcap/jobs/rabbitmq-broker"
        - "/var/vcap/sys/log"
        - "/var/vcap/data/tmp"
  vm_type: m3.medium
  stemcell: trusty
  azs:
  - eu-west-1a
  networks:
  - name: services

- name: haproxy
  instances: 1
  jobs:
  - name: rabbitmq-haproxy
    release: cf-rabbitmq
  - name: route_registrar
    release: routing
    properties:
      nats:
        machines:
        - 10.244.0.6
        port: 4222
        user: nats
        password: nats
      route_registrar:
        routes:
        - name: pivotal-rabbitmq
          port: 15672
          registration_interval: 20s
          uris:
          - pivotal-rabbitmq.bosh-lite.com
  - name: syslog_forwarder
    release: syslog
    properties:
      syslog:
        address: *syslog-address
        port: *syslog-port
        custom_rule: |
          # Send messages of all types sent to local2 logging facility to haproxy.log,
          # "-" in front of the file means to not flush to disk after every write
          local2.* -/var/vcap/sys/log/rabbitmq-haproxy/haproxy.log

          module(load="imfile")

          input(type="imfile"
                File="/var/vcap/sys/log/rabbitmq-haproxy/haproxy.log"
                Tag="rmq_haproxy")

          input(type="imfile"
                File="/var/vcap/sys/log/route_registrar/route_registrar.log"
                Tag="rmq_haproxy_route_registrar_stdout")

          input(type="imfile"
                File="/var/vcap/sys/log/route_registrar/route_registrar.err.log"
                Tag="rmq_haproxy_route_registrar_stderr")
  - name: syslog-configuration-test
    release: cf-rabbitmq-test
    properties:
      syslog-configuration-test:
        watched-log-files:
        - "/var/vcap/sys/log/rabbitmq-haproxy/haproxy.log"
        - "/var/vcap/sys/log/route_registrar/route_registrar.err.log"
        - "/var/vcap/sys/log/route_registrar/route_registrar.log"
  - name: permissions-test
    release: cf-rabbitmq-test
    properties:
      permissions-test:
        directories:
        - "/var/vcap/jobs/rabbitmq-haproxy"
        - "/var/vcap/sys/log"
        - "/var/vcap/data/tmp"

  vm_type: m3.medium
  stemcell: trusty
  azs:
  - eu-west-1a
  - eu-west-1b
  networks:
  - name: services

- name: broker-registrar
  jobs:
  - name: broker-registrar
    release: cf-rabbitmq
  instances: 1
  lifecycle: errand
  vm_type: t2.micro
  stemcell: trusty
  azs:
  - eu-west-1a
  networks:
  - name: services

- name: broker-deregistrar
  jobs:
  - name: broker-deregistrar
    release: cf-rabbitmq
  instances: 1
  lifecycle: errand
  vm_type: t2.micro
  stemcell: trusty
  azs:
  - eu-west-1a
  networks:
  - name: services

- name: smoke-tests
  jobs:
  - name: smoke-tests
    release: cf-rabbitmq
  instances: 1
  lifecycle: errand
  vm_type: m3.medium
  stemcell: trusty
  azs:
  - eu-west-1a
  networks:
  - name: services

properties:
  # for broker and route registrars
  cf:
    admin_password: "admin"
    admin_username: "admin"
    api_url: "http://api.bosh-lite.com"
    domain: "bosh-lite.com"
  rabbitmq-server:
    plugins:
    - rabbitmq_management
    - rabbitmq_mqtt
    - rabbitmq_stomp
    ports:
    - 5672
    - 5671
    - 1883
    - 8883
    - 61613
    - 61614
    - 15672
    - 15674
    administrators:
      management:
        username: admin
        password: admin
      broker:
        username: broker
        password: CkY26kTuAyZT8r2
    cookie: "rabbit-cluster:aws"
    cluster_partition_handling: autoheal

  rabbitmq-haproxy:
    stats:
      username: admin
      password: admin
  broker:
    host: pivotal-rabbitmq-broker.bosh-lite.com
    protocol: https
    name: p-rabbitmq
    username: "p1-rabbit"
    password: "p1-rabbit-devpwd"
  rabbitmq-broker:
    route: pivotal-rabbitmq-broker
    cc_endpoint: http://api.bosh-lite.com
    service:
      username: "p1-rabbit"
      password: "p1-rabbit-devpwd"
      name: p-rabbitmq
      uuid: 163b47c6-a2f3-43b1-97f7-b83b37ecabcd
      plan_uuid: 4e816145-4e71-4e24-a402-0c686b868e2d
    logging:
      level: debug
      print_stack_traces: false
    rabbitmq:
      operator_set_policy:
        enabled: true
        policy_name: "operator_set_policy"
        policy_definition: "{\"ha-mode\":\"exactly\",\"ha-params\":2,\"ha-sync-mode\":\"automatic\"}"
        policy_priority: 50
      management_domain: pivotal-rabbitmq.bosh-lite.com
      ssl: |
        -----BEGIN CERTIFICATE-----
        MIIC+zCCAeOgAwIBAgIBAjANBgkqhkiG9w0BAQUFADAnMRUwEwYDVQQDEwxNeVRl
        c3RSb290Q0ExDjAMBgNVBAcTBTY0MTAzMB4XDTE0MDkwNDA3MjIwOFoXDTI0MDkw
        MTA3MjIwOFowKjEXMBUGA1UEAxMObWVyY3VyaW8ubG9jYWwxDzANBgNVBAoTBnNl
        cnZlcjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANxxSzf958VIm8lp
        qQ4BHSmz1z8yU/KEKSbuEfIqpGwpVx6TZ+ZYiXa0cMV2pE7UKR4OyJiuvtvv9kzu
        6g+HTXmJo2cqVonGCAMp6d9TkCAMaMF76IrbLyGmvXQDcjOmWarvsGHW/w6gJpw9
        svDP9EXyXTBUfaJq3T8+9UQBfMsL4dHwAt79YgvSQLsYiIi2rzQixK/4PHFeHf3G
        I/UDgjG0YG9iCWp2g1Sc3Z6hYB/0pOCBxE7LCrSGS6/M/7c2569yK7NqSSNN7Lqz
        ZoQSF1NYE6KRd2MK2A0QaKrn9v8K5/Lp0fk70bvwtLxTWtp3wq3bYQg8UdqY/6R8
        UATS/aMCAwEAAaMvMC0wCQYDVR0TBAIwADALBgNVHQ8EBAMCBSAwEwYDVR0lBAww
        CgYIKwYBBQUHAwEwDQYJKoZIhvcNAQEFBQADggEBAHC89mK1HJgDqwxjsGpa3V7t
        Nuqe/XxEIUUN3Lm4gBLKq4wed4c6z4csv16f3uL9cypyHPSrQmMPV7CDgWLX4F7g
        YN9PGaVfIp/rGNsDWJEVNU2rfIEDIUfcL+o844jE8CtmzZ4bGVrCHqKW5pAraai1
        o5h3JaU4yDLo49rqPeRft2n/gj+5E3gi/1TsnuLuzB7kK1gaTTOrV3GASiGokCEN
        4v1ZjaqMSGMcwA/esaLv2N6UYJgd5lyJ7PEL4ddE8QCTo2EPhYyltLxRqOjrxa+5
        KONA94PDj14gOSSsoXkoj7gWQsuHT2RXmurYXk4/PkS+k1j0+ZCzKi/ZxF5jt50=
        -----END CERTIFICATE-----
      administrator:
        username: broker
        password: CkY26kTuAyZT8r2

update:
  canaries: 1
  canary_watch_time: 30000-180000
  update_watch_time: 30000-180000
  max_in_flight: 4
  serial: false
